.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes loader {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  100% {
    transform: scaleX(1);
    transform-origin: left;
  }
}

.animate-loader {
  animation: loader 2s linear infinite;
  transform-origin: left; /* ensure it grows from left */
  will-change: transform; /* hint browser for optimization */
}

.read-the-docs {
  color: #888;
}

button,
a {
  cursor: pointer;
}

/* Our Story css */

.partner-container {
  display: inline-flex;
  width: 280px;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}
.partner-img {
  height: 80px; /* Consistent height for logos */
  width: auto;
  max-width: 100%;
  border-radius: 8px;
  object-fit: contain;
  filter: grayscale(100%);
  opacity: 0.5;
  transition: all 0.5s ease;
}
.group:hover .partner-img {
  filter: grayscale(0%);
  opacity: 1;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.animate-scroll-infinite {
  animation: scroll 35s linear infinite;
}
.animate-scroll-infinite:hover {
  animation-play-state: paused;
}

/* css for our absoolute navigation bar */

section[id] {
  scroll-margin-top: 80px;
}

html {
  scroll-behavior: smooth;
}
